* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #E9C589;
}

#main-heading {
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

#calculator {
  background: linear-gradient(120deg, rgb(180, 195, 200), rgb(200, 215, 220) 10%);
  margin: 0 auto;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px;
}

#display {
  text-align: right;
  background-color: #D1E6A8;
  padding: 20px;
  border-radius: 10px;
  font-size: xxx-large;
  min-height: 85px;
  border: 1px solid black;
}

#buttons-container {
  display: flex;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.button {
  background-color: #4D4D4D;
  color: #FFF;
  font-size: xx-large;
  font-weight: 900;
  border-radius: 5px;
}

.button.operator-button {
  background-color: #304A85;
}

.button#equals {
  background-color: #B05195;
}

.button#backspace {
  background-color: #F0E427;
}

.button#clear {
  background-color: #65AF30;
}

.button#equals,
.button#add {
  flex: 2;
}
